
<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #exchangeChart {
        width: 80vw; /* Grafik genişliği */
        height: 60vh; /* Grafik yüksekliği */
    }
</style>

<div class="container">

    <canvas id="exchangeChart" width="400" height="200"></canvas>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/ChartExchangeRate.js"></script>


